body {
  margin: 0;
  padding: 0;
  font-family: Inconsolata;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left {
  position: relative;
}

.left-background {
  display: block;
  width: fit-content;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 25vh;
  left: 100px;
  width: 450px;
  height: auto;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: white;
  text-align: center;
  transform: translateX(-50%);
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right p {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: bold;
}
.right span {
  font-size: 20px;
  font-style: italic;
}

form {
  box-shadow: 0 0 20px rgb(138, 138, 138);
  margin-top: 50px;
  padding: 20px 0 20px 60px;
}

form .form-title {
  font-size: 20px;
  font-weight: bold;
}

form ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50vw;
  justify-content: space-evenly;
}

form ul li {
  margin: 10px 0;
}

form ul li label {
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 5px;
  display: block;
}

form ul li input {
  appearance: none;
  width: 300px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 4px;
  padding: 10px;
  background-color: rgb(253, 252, 252);
  font-size: medium;
}

form ul li input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgb(212, 0, 255);
}

form ul li input:invalid {
  border-color: red;
}

form ul li input:valid {
  border-color: green;
}

button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgb(49, 97, 73);
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px;
  font-size: medium;
  font-weight: bold;
  width: 200px;
}

button:hover {
  background-color: rgb(70, 143, 106);
}
